@model SitiosPruebaMVC.Models.Familiare

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Familiare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Familiar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familiar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Victima.CodigoVictima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Victima.CodigoVictima)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Familiar }) |
    @Html.ActionLink("Back to List", "Index")
</p>
