@model IEnumerable<SitiosPruebaMVC.Models.Victima>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoVictima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Procedencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Familia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresuntaAfiliacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sitio.CodigoSitio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoVictima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Procedencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Familia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresuntaAfiliacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sitio.CodigoSitio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Victima }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Victima }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Victima })
        </td>
    </tr>
}

</table>
