@model IEnumerable<SitiosPruebaMVC.Models.Testigo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sitio.CodigoSitio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sitio.CodigoSitio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Testigo }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Testigo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Testigo })
        </td>
    </tr>
}

</table>
